* {
    font-family: "Montserrat", serif;
}
.container {
    max-width: 1240px;
    width: 90%;
    margin: auto;
}
/* Header CSS Start */
.main-header {
    padding: 20px 0;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-area img {
    max-width: 150px;
}
.menu-items ul {
    display: flex;
    text-align: right;
    gap: 30px;
}
