* {
    font-family: "Montserrat", serif;
}
.container {
    max-width: 1240px !important;
    width: 90%;
    margin: auto;
}
/* Header CSS Start */
.main-header {
    padding: 20px 0;
    box-shadow: 0px 2px 5px 0px #0000000f;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-area img {
    max-width: 150px;
}
.menu-items ul {
    display: flex;
    text-align: right;
    gap: 30px;
}
.menu-items ul li a {
    transition: .3s;
}
.menu-items ul li a:hover {
    color: #EF1B20;
}